AddDefaultCharset utf-8
AddCharset utf-8 *

RewriteEngine On
Options +FollowSymlinks

DirectoryIndex viewer.php
RewriteRule ^view/([0-9]{4,4})/?$ viewer.php?year=$1
RewriteRule ^golink/([0-9]{1,4})/?$ golink.php?id=$1